  <!DOCTYPE html>
<div th:fragment="footer">
  <footer class="footer ">
    <div class="container py-4 pb-0 mb-0">
      <div class="row py-3 text-center pb-0 mb-2">

        <div class="col-lg-4 col-md-4 mb-4 mb-lg-0 text-center">
          <h6 class="text-uppercase font-weight-bold mb-4">Información</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-white">Sobre nosotros</a></li>
            <li class="mb-2"><a href="#" class="text-white">Preguntas frecuentes</a></li>
          </ul>
        </div>


        <div class="col-lg-4 col-md-4 mb-4 mb-lg-0 text-center">
          <h6 class="text-uppercase font-weight-bold mb-4">Politica de Privacidad</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-white">Politica</a></li>
            <li class="mb-2"><a href="#" class="text-white">Terminos de uso</a></li>

            <li class="mb-2"><a href="#" class="text-white">Privacidad</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 mb-4 mb-lg-0 text-center pb-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Contáctanos</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-white">Empleos</a></li>
            <li class="mb-2"><a href="#" class="text-white">Contacto</a></li>
          </ul>
        </div>


      </div>
    </div>

    <div class="row mb-4 mb-lg-0 text-center pb-3">
      <a href="/"  >
        <img  th:src="@{/img/minilogoazul.png}" alt="citatelogo" id="logocitatefooter">
      </a>
    </div>


    <hr class="p-0 m-0 b-0">


    <div class="bg-light py-2 ">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">&copy; 2023 CitaTe All rights reserved.</p>

      </div>
    </div>

  </footer>

</div>