<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link href="/webjars/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="../CitaTe.css">

</head>
<body>


<div class="modal-body" id="registrocliente">




  <form th:action="@{/usuarios/hasOlvidadoTuPassword}" th:method="GET">



      <input type="search" id="email" name="email" >
      <input type="submit">

      <p>Hola</p>


  </form>


<!--Fooooterrrrr-->

<div th:replace="~{fragmentos/footer1 :: footer}"></div>

<!--Fooooterrrrr-->


<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</div>
</body>
</html>