<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Multi Step Registro</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="/webjars/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/CitaTe.css}">
    <link th:href="@{/css/nuevoestilo.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/js/registro.js">
    </script>


</head>
<body>
<!--Header-->
<div th:replace="~{fragmentos/headerRegistroEmpresa :: header}"></div>
<div class="container">


    <div id="crearUsuario" >

        <form id="formularioAltaUsuario" action="/api/crearUsuario" method="post">
            <label for="email">Correo electrónico:</label><br>
            <input type="text" name="email" id="email"  required><br><br>

            <label for="password">Contraseña:</label><br>
            <input type="password" name="password" id="password"  required/> <br><br>

            <label for="repetirpassword">Repita la contraseña:</label><br>
            <input type="password" name="repetirpassword" id="repetirpassword" required/><br><br>

            <button id="botonCrearUsuario" type="submit" class="btn btn-primary">Guardar</button>
        </form>

    </div>

    <div id="crearEmpresa" >

        nombre

    </div>

    <div id="crearEmpleado" >



    </div>





</div>
<div th:replace="~{fragmentos/footer1 :: footer}"></div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>